<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="bookstore" parallel="false">
    <test name="test-login">
        <!--<packages>-->
        <!--<package name="com.testproj.Demo"/>-->
        <!--</packages>-->
        <classes>
            <class name="cn.les.dao.UserDaoTest"></class>
            <class name="cn.les.biz.UserBizTest"></class>
        </classes>

    </test>
</suite>